:host {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  font-size: 19px;
  font-weight: 400;
  height: 110px;
  background-color: #002C4F;
  color: #ffffff;
}
