<div class="container">

  <br>
  <br>
  <br>
  <br>
  <p>
  <b>
    Bem-vindo à IdiomaPlus: Sua Jornada de Aprendizado de Idiomas Começa Aqui!<br>
    Ideal para você<br>
    Vários formatos de aula em uma única escola de idiomas. Só podia ser IdiomaPlus!
</b>
  </p>
  <br>

  <div class="cards">


    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Nova York</mat-card-title>
        <mat-card-subtitle>Inglês</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://awsbucketpucminas.s3.sa-east-1.amazonaws.com/card1.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Ao estudar no curso de inglês da IdiomaPlus, você desenvolve 4 habilidades na língua inglesa.
          São aulas de inglês do básico ao avançado e fluência para crianças, adolescentes e adultos.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Madrid</mat-card-title>
        <mat-card-subtitle>Espanhol</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://awsbucketpucminas.s3.sa-east-1.amazonaws.com/card2.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          No curso de espanhol da IdiomaPlus, você irá aprender a se comunicar com vários países que têm a língua espanhola como língua materna.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>



    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Paris</mat-card-title>
        <mat-card-subtitle>Francês</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://awsbucketpucminas.s3.sa-east-1.amazonaws.com/card3.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Aprenda a falar francês e a desenvolver suas habilidades de escuta, escrita e leitura na língua francesa com a metodologia exclusiva IdiomaPlus by Pearson.
        </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>


    <mat-card class="example-card">
      <mat-card-header>
        <div mat-card-avatar class="example-header-image"></div>
        <mat-card-title>Palermo</mat-card-title>
        <mat-card-subtitle>Italiano</mat-card-subtitle>
      </mat-card-header>
      <img mat-card-image src="https://awsbucketpucminas.s3.sa-east-1.amazonaws.com/card4.jpg" alt="Photo of a Shiba Inu">
      <mat-card-content>
        <p>
          Através do curso de italiano, a IdiomaPlus ajuda o aluno a desenvolver suas habilidades para alcançar
          fluência na língua. A IdiomaPlus oferece uma abordagem completa e interativa que
          inclui aulas práticas, exercícios de conversação e materiais didáticos atualizados para
          garantir um aprendizado eficaz e divertido.
       </p>
      </mat-card-content>
      <mat-card-actions>
        <button mat-button>LIKE</button>
        <button mat-button>SHARE</button>
      </mat-card-actions>
    </mat-card>

  </div>
  <br>
  <br>

  <p>
    <b>

  Explore nossa ampla gama de cursos de idiomas, desde os básicos até os avançados, em uma variedade de idiomas populares.


  </b>
    </p>

</div>
